.Editor {
    display: flex;
    gap: 10px;
}

.Editor > button {
    cursor: point;
    width: 80px;
    border: none;
    background-color: rgb(38, 147, 255);
    color: white;
    border-radius: 5px;
    padding: 15px;
}

.Editor > input {
    padding: 15px;
    flex: 1;
}